@model IEnumerable<RefRecipe.Data.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to the Recipe database for Refresco Finland OY</h1>
<style>
    /* tbody {
            background-image: url("refrescologo.png");
            background-repeat: no-repeat;
            background-size: cover;

        } */
    table {
        width: 100%;
        height: 100%;
    }
</style>
 
<div class="col-4 p-0 justify-content-end">
    <form asp-controller="Home" asp-action="Index">
        <span class="btn-group">
            <input class="form-control" type="text" name="SearchText" placeholder="Etsi tuotenimellä">
            <input class="p-1 m-lg-2 btn btn-sm btn-info" type="submit" value="Search" />
        </span>
    </form>
</div>
<div class="col-4 p-0 justify-content-end">
    <form asp-controller="Home" asp-action="Index">
        <span class="btn-group">
            <input class="form-control" type="text" name="SearchCode" placeholder="Etsi tuotekoodilla">
            <input class="p-1 m-lg-2 btn btn-sm btn-info" type="submit" value="Search" />
        </span>
    </form>

   
</div>
<div>
    <a class="btn-group" href="/Recipes/Create">Create</a>
</div>



<table class="hometable">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Koodi)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Nimi)
            </th>
          


            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                
                <td>@Html.DisplayFor(modelItem => item.Koodi)</td>

                <td>@Html.DisplayFor(modelItem => item.Nimi)</td>
               

                <td>
                    <a asp-controller="Home" asp-action="ReadExcel2" asp-route-id="@item.Koodi">Resepti</a> |
                    <a>-------------------</a> |
                    <a asp-controller="Recipes" asp-action="edit" asp-route-id="@item.Id">Edit</a> |
                    <a>-------------------</a> |
                    <a asp-controller="Recipes" asp-action="delete" asp-route-id="@item.Id">Delete</a> |
                    
                    
                </td>

            </tr>
        }

    </tbody>
</table>
